body, html {
  position: relative;
  font-size: 18px;
  margin: 0;
  font-family: 'Noto Serif KR', sans-serif;}

h1 {
  font-size: 4rem;
}

/* Uncomment this block of code below to see the page layout divided into sections and divs as rectangles */

/*
div, section {
  border: 1px solid black;
}
*/

section {
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

#mainNavbar .slide-section {
  font-family: 'Rubik Mono One', sans-serif;
}

#cover {
  background: url('../images/background01.jpg') no-repeat center center fixed;
  background-size: cover;
}

#cover .container{
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cover h1 {
  color: #FFEAAA
;
}

#cover p{
  font-family: 'Permanent Marker', cursive;
  color: #FFF9E8;
}

#cover a {
  color: #8180B2;
}

/*education section*/

#education {
  background-color: #FFDBAA;
  line-height: 1.5rem;
  color: #718DA5;
}

#education {
  padding-bottom: 2rem;
}

#education .leftGrid,
#education .rightGrid {
}

#education .rightGrid {
  border-bottom: 2px #8180B2 solid;
}

#education h2 {
  font-family: 'Rubik Mono One', sans-serif;
}

#education p {
  color: #4C6E8B;

}

@media only screen and (max-width: 991px) {
  #education .rightGrid {
    border-bottom: none;
  }

  #education .xs-row:nth-last-child(odd) {
    border-left: 2px #8180B2 solid;
    text-align: center;

  }

  #education .xs-row:nth-last-child(even) {
    border-right: 2px #8180B2 solid;
    text-align: center;

  }
}

/* work Section */
#work {
  background-color: #FFF9E8;
}

#work .row {
  display: flex;
  align-items: center;
}

#work .rightGrid {
  border-left: 2px #718DA5 solid;
}

#work .rightGrid h4 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #595897;
}

#work .rightGrid p {
  color: #718DA5
;
}

#work .title {
  padding: 2rem 0;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  color: #2A4F6E;

}

#work .reason {
  justify-content: center;
}

#work .reason h3 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #2A4F6E;
}

#work .reason p {
  color: #8180B2;
}

#work .subGrid {
  border-bottom: 2px #718DA5 solid;
}

#work .leftGrid h3{
  color: #595897;
  font-family: 'Rubik Mono One', sans-serif;
}

@media only screen and (max-width: 991px) {

  #work {
    text-align: center;
  }

  #work .subGrid,
  #work .rightGrid {
    border-bottom: none;
    border-left: none;
  }

  #work .xs-row:nth-last-child(even),
  #work .reason .subGrid:nth-last-child(odd) {
    border-left: 2px #8180B2 solid;
  }

  #work .xs-row:nth-last-child(odd),
  #work .subGrid:nth-last-child(even) {
    border-right: 2px #8180B2 solid;
  }

  #work .row {
    flex-direction: column;
  }

}

/* Habit Section */
#habit {
  background-color: #FFDBAA;
}

#habit h3 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #8180B2;
}

#habit p {
  color: #718DA5;
}

#habit .rightGrid {
  border-left: 2px #8180B2 solid;
}

@media only screen and (max-width: 991px) {
  #habit .leftGrid {
    border-left: 2px #8180B2 solid;
  }

  #habit .rightGrid {
    border-left: none;
    border-right: 2px #8180B2 solid;
  }
}
/*dream Section*/
#dream {
  background-color: #FFF9E8;
}

#dream h2 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #718DA5;
}

#dream p {
  color: #595897;
}

#dream .topGrid {
  border-bottom: 2px #718DA5 solid;
}

@media only screen and (max-width: 991px) {
  #dream .topGrid {
    border-bottom: none;
    border-left: 2px #718DA5 solid;
  }

  #dream .bottomGrid {
    border-right: 2px #718DA5 solid;
  }
}

/*interest Section*/
#interest {
  background-color: #FFDBAA;
}

#interest h2 {
  font-family: 'Permanent Marker', cursive;
  color: #4C6E8B;
}

#interest p {
  color: #8180B2;
}

#interest .leftGrid {
  border-left: 2px #8180B2 solid;
}

#interest .rightGrid {
  border-right: 2px #8180B2 solid;
}

/*Carousel Section*/

#carousel {
  background: url('../images/background2.jpg') no-repeat center center fixed;
  background-size: cover;
}

#carousel h2 {
  font-family: 'Permanent Marker', cursive;
}

#carousel .item img{
  height: 30rem;
  margin: 0 auto;
}

/*Contact Section*/


/* Footer */

footer {
  background: black;
  color: lightgray;
  padding: .6em;
}
